#dspFrame
{
    background-image: linear-gradient(#d6eaf8 , #fef9e7, #fdebd0);
    border: 1px solid  #2e86c1;
}

#btnFrame
{
    background-color: #f0e1cd;
    border: 1px solid  #2e86c1;
    border-radius: 15px;
    padding: 0.5rem;
}

#pWordFrame
{
    background-color: white;
    border: 1px solid  #2e86c1;
    border-radius: 10px;
    padding: 0.5rem;
}
